<header class="pane-header pane-chat-header">
	<div class="chat-avatar">
		<div class="avatar">
			<img
		src="{{ImageSrc}}"/>
		</div>
	</div>
	<div class="avatar-name"></div>
	<div class="avatar-tools"></div>
</header>
<div class="pane-body pane-chat-tile-container">
  <div class="pane-chat-msgs pane-chat-body lastTabIndex">
      <div class="message-body">
        <div class="msg">
          <div class="message message-chat message-left message-chat">
          </div>
        </div>
        <div class="msg">
          <div class="message message-chat message-right message-chat">
          </div>
        </div>
      </div>
  </div>
</div>
<footer class="pane-chat-area">
  <div class="block-compose">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Type Your Message">
      </mat-form-field>
  </div>
</footer>
