<div class="pg-body">
  <div class="pg-loading-center-middle">
    <h1 class="pg-loading-logo-header">{{app_name}}</h1>
    <div class="pg-loading-html pg-loaded">
      <p class="loading-message">{{singlequote}}</p>
      <div class="lds-css" *ngIf="!checkConnection">
        <div class="lds-ellipsis">
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="pg-signup-register-form" *ngIf="checkConnection">
        <mat-tab-group class="login-register-group">
          <mat-tab label="Login">
            <form (ngSubmit)="submitForm(loginusername,loginpassword)">
            <div class="login-container">
              <mat-form-field>
                <input matInput type="text" class="form-control" required [(ngModel)]="loginModel.username" id="loginModel.username" name="username" minlength="2" placeholder="Username" #loginusername="ngModel">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" class="form-control" required [(ngModel)]="loginModel.password" name="password" minlength="2" id="loginModel.password" placeholder="Password" #loginpassword="ngModel">
              </mat-form-field>
              <button type="submit" [disabled]="!loginusername.valid || !loginpassword.valid" class="btn btn-success">Submit</button>
            </div>
            </form>
          </mat-tab>
          <mat-tab label="Register">
            <form (ngSubmit)="registerForm(registerusername, registerpassword)">
            <div class="register-container">
              <mat-form-field>
                <input matInput type="text" required placeholder="Enter Username" [(ngModel)]="registerModel.username" id="username" name="username" minlength="2" #registerusername="ngModel">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" required minlength="4" placeholder="Enter Password" [(ngModel)]="registerModel.password" name="password" id="password" #registerpassword="ngModel">
              </mat-form-field>
              <button type="submit" [disabled]="!registerusername.valid || !registerpassword.valid" class="btn btn-success">Register</button>
            </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
