<mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Profile Info</ng-template>
        <div class="profile-container">
          <div class="profile-img-container img-circle">
            <div class="loader" [ngClass]="progress">
            </div>
            <input type="file" class="avatar-file" id="avatar-file" accept="image/*" (change)="onFileChange($event)" #fileInput />
            <img src="{{imgSRC}}" width="150" height="150" class="img" />
          </div>
          <div class="profile-img-input">
            <mat-form-field>
              <input matInput placeholder="Type the Name" formControlName="firstCtrl" required>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Verify Phone No</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
